
@-webkit-keyframes webit {
  0%{margin-left:0px;margin-top:0px;}
  25%{margin-left:25px;margin-top:0px;}
  50%{margin-left:25px;margin-top:25px;}
  75%{margin-left:0px;margin-top:25px;}
  100%{margin-left:0px;margin-top:0px;}
}


#webit-note{
  -webkit-animation: webit 2s linear 0s infinite normal;
}
